.main-container {
  padding: 10px 15px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  color: grey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}